
/* src/index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Source Serif 4', serif;
    background-color: #F5F4F4;
    color: #171717;
    overflow-x: hidden; /* Prevent horizontal scroll */
  }
  